// Main css file
@import "./partials/variables.scss";
@import "./partials/reset.scss";
@import "./partials/section.scss";
@import "./partials/accordion.scss";
@import "./partials/learnings-section.scss";
@import "./partials/footer.scss";
@import "../scss/mixins/button.scss";
@import "../scss/partials/carousel.scss";

@include btn-color('primary', #fff, #196ae5);
@include btn-color('secondary', #260591, #fff);

.banner-container {
  background: {
    image: url("../../assets/bg.jpg");
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  position: relative;
  padding: 24px 16px;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.banner-content-block {
  position: relative;
  z-index: 1;
}

.logo-container {
  img {
    width: 200px;
  }
}

.banner-content-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

// form css starts here

.form-wrapper {
    background: map-get($color-map, 'white');
    padding: 20px 16px 16px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.form-title {
    font-size: 22px;
    font-weight: $font-semibold;
    text-align: center;
    display: inline-block;
    padding-bottom: 10px;
    position: relative;
    color: map-get($color-map, 'black-1');

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-top: 2px solid map-get($color-map, 'charcoal');
        width: 50%;
    }
}

.form {
    margin-top: 16px;
}

.form-item {
    margin-bottom: 12px;

    &__custom-wrapper {
        display: flex;
        align-items: baseline;
        text-align: left;

        p {
            margin-left: 10px;
        }
    }
}

.form-item__input {
    width: 100%;
    padding: 10px;
    border: 1px solid map-get($color-map, 'grey-light');    
    border-radius: 4px;
    font-size: 14px;

    &:focus {
        outline: none;
    }

    &.form-item--select {
        padding: 9px 7px;
    }

    &.invalid {
        border-color: red;
    }
}

.form-item__check-input {
    &.invalid {
        outline: 1px solid red;
    }
}

// Banner content css

.banner-content {
    margin-top: 30px;
    color: map-get($color-map, 'white');
}

.banner-content__title {
    line-height: 30px;
    font-weight: $font-semibold;
}

.banner-content__subtitle {
    font-size: 15px;
    padding: 4px 10px;
    border-left: 1px solid map-get($color-map, 'white');
    font-weight: $font-medium;
    margin: {
        top: 16px;
        bottom: 16px;
    };
}

.banner-content__supporting-text {
    font-size: 18px;
    font-weight: $font-normal;

    span {
        display: block;
    }
}


.curriculum-section {
    background-color: map-get($color-map, 'persian-blue');
}

// info section css
.info-section {
    background-color: map-get($color-map, 'snow');;
    border-top: 1px solid map-get($color-map, 'grey-light');


    .section-body {
        padding-top: 0;
        font-size: 16px;
        text-align: center;
    }
}

// testimonial section css

.testimonial-byline {
    font-weight: $font-semibold;
    margin-top: 12px;
}

@media only screen and (max-width: 768px) {
    .video-section {
        position: relative;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .course-features-list {
        display: none;
    }
}

@import './main-d.scss';
