// footer css

.page-footer {
    height: 65px;
}

.footer {
    background: map-get($color-map, 'royal-blue');
    padding: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s linear;
    transform: translateY(110%);

    &.active {
        transform: translateY(0);
    }
}
 
.footer-text {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .page-footer {
        height: 73px;
    }

    .footer {
        padding: 16px;
    }

    .footer-text {
        display: block;
        font-size: 16px;
        color: map-get($color-map, 'white');
        margin-right: 30px;
    }
}