$color-map: (
    'white': #fff,
    'black': #000,
    'black-1': #1a1a1a,
    'charcoal': #484848,
    'grey-light': #aaa,
    'persian-blue': #ecf4ff,
    'snow': #f4f4f4,
    'royal-blue': #260591,
    'blue': #196ae5,
    'light-mustard': #f7d354,
    'turquoise': #42c5f1,
    'light-sea-green': #3baa8e,
);

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;